def AP(x,y,z):
    
    first_term=int(x)
    difference=int(y)
    total_terms=int(z)
    
    answer = first_term + (total_terms-1)*difference
    
    print("The nth Term is:", answer)
    return
    
while True:

    a=input("Enter First Term; ")
    b=input("Enter Difference; ")
    c=input("Enter Total Number Of Terms; ")
    AP(a,b,c)
